a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_15070e93 a { text-decoration: none; }
#menu_15070e93_pane { background-color: #F8F2EF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; border-radius: 0px 0px 15px 0px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_15070e93_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_15070e93_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_15070e93_entry:hover { background-color: #B94308; color: #FFFFFF !important; }
#menu_15070e93_entry:hover span { color:#FFFFFF !important; }
		.menu_15070e93_mainMenuEntry { text-align: center; }
		.menu_15070e93_mainMenuEntry:hover {	background-color:#B94308; }
		.menu_15070e93_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_15070e93 .mobileEntry { display: none; } 
		#menu_15070e93 .normalEntry { display: block; } 
		#menu_15070e93_menualignmentwrapper{ width:193px; left: calc(100% - 193px);  } 
		@media only screen and (max-width:900px) { 
			#menu_15070e93 .mobileEntry { display: block; } 
			#menu_15070e93 .normalEntry { display: none; } 
			#menu_15070e93_menualignmentwrapper { width:41px; left: calc(100% - 41px);  } 
		}
#button_323ee83 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#B94308;  }
#button_323ee83:hover { background-color:#FFFFFF;  }
#button_323ee83:hover span { color:#B94308; }
#button_146ea582 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#B94308;  }
#button_146ea582:hover { background-color:#FFFFFF;  }
#button_146ea582:hover span { color:#B94308; }
#button_4e2dc648 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#B94308;  }
#button_4e2dc648:hover { background-color:#FFFFFF;  }
#button_4e2dc648:hover span { color:#B94308; }
#button_5a3d431b { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#B94308;  }
#button_5a3d431b:hover { background-color:#FFFFFF;  }
#button_5a3d431b:hover span { color:#B94308; }
#button_34839493 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#B94308;  }
#button_34839493:hover { background-color:#FFFFFF;  }
#button_34839493:hover span { color:#B94308; }
body { background-color:#F8F2EF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_a8bef60 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_29ee7549 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_29ee7549_padding { margin: 10px; display: block;  }
#container_23dd7d16 { vertical-align: top; position:relative; display: inline-block; width:46%; min-height:60px; background:none;  }
#container_23dd7d16_padding { margin: 10px; display: block;  }
#button_8272807 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;width:404px; height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#B94308; font-weight:bold;  }
#container_61f69dfd { vertical-align: top; position:relative; display: inline-block; width:54%; min-height:60px; background:none;  }
#container_61f69dfd_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_15070e93 { vertical-align: bottom; border-radius: 0px 0px 15px 0px; position:relative; display: inline-block; width:200px; height:38px; min-width:50%; text-align:left; background:none;  }
#menu_15070e93_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:41px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:41px;  }
.textstyle5 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#B94308;  white-space: nowrap; }
.menustyle2 { position:absolute; width:60px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#B94308; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:60px; height:38px; left:60px;  }
.menustyle4 { position:absolute; width:73px; height:38px; left:120px;  }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#video_18a53080 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_7b56f8c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:711px; background-color:#F8F2EF;  }
#container_7b56f8c2_padding { margin: 20px; display: block;  }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle9 { font-size:22pt; font-family:'Arial Black', Gadget, sans-serif; color:#B94308; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle10 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle11 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#container_76dfdc81 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:259px; background:none;  }
#container_76dfdc81_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_78055da2 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:367px; background-color:#FFFFFF; background-image: url(657801864_1464749145244715_5673910650704987784_n.jpg); background-position:center center; background-size:cover;  }
#container_78055da2_padding { margin: 10px; display: block;  }
#container_c31bbfd { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:367px; background-color:#FFFFFF; background-image: url(656986812_1464749835244646_6655006327195152699_n.jpg); background-position:center center; background-size:cover;  }
#container_c31bbfd_padding { margin: 10px; display: block;  }
#container_4aba8bf3 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:367px; background-color:#FFFFFF; background-image: url(657563362_1464748668578096_8895505608496306367_n.jpg); background-position:center center; background-size:cover;  }
#container_4aba8bf3_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle14 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_438337b7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:421px; background-color:#F8F2EF;  }
#container_438337b7_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
#container_7912be8c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_7912be8c_padding { margin: 10px; display: block;  }
#container_780a4201 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:5px; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_780a4201_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459; font-weight:bold;  }
.textstyle17 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459; font-weight:bold;  }
.textstyle18 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459;  }
#container_552b321a { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:5px; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_552b321a_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#374459;  }
#container_6b4db2e2 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:5px; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_6b4db2e2_padding { margin: 10px; display: block;  }
#container_50fe4c2d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:52px; background-color:#FFFFFF;  }
#container_25c634d8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background-color:#B94308;  }
#container_25c634d8_padding { margin: 10px; display: block;  }
.textstyle20 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#carousel_1fd9dd1a { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:46%; aspect-ratio: 1.364583; background:none;  }
#carousel_1fd9dd1a_page1 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
#carousel_1fd9dd1a_page2 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
#carousel_1fd9dd1a_page3 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
#container_77363bda { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_77363bda_padding { margin: 10px; display: block;  }
.textstyle21 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_1da729e9 { vertical-align: top; position:relative; display: inline-block; width:36%; min-height:372px; background:none;  }
#container_1da729e9_padding { margin: 10px; display: block;  }
.textstyle22 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; line-height: 1.5;  }
.textstyle23 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; line-height: 1.5;  }
.textstyle24 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; font-weight:bold; line-height: 1.5;  }
.textstyle25 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; font-weight:bold; line-height: 1.5;  }
#container_3aab6ea4 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_3aab6ea4_padding { margin: 20px; display: block;  }
.textstyle26 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
.textstyle27 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
#img_55674728 { vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:100%; max-width:400px; background:none; height:auto;  }
.textstyle28 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
#container_433edc8a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F8F2EF;  }
#container_433edc8a_padding { margin: 10px; display: block;  }
#container_390aab84 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_390aab84_padding { margin: 10px; display: block;  }
#container_744bd6fd { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_744bd6fd_padding { margin: 10px; display: block;  }
.textstyle29 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#B94308;  }
#container_5640478c { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_5640478c_padding { margin: 10px; display: block;  }
#container_508c6e15 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_508c6e15_padding { margin: 10px; display: block;  }
#container_3ca701ed { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:108px; max-width:800px; background:none;  }
#container_3ca701ed_padding { margin: 10px; display: block;  }
.textstyle30 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#B94308; line-height: 1.5;  }
.textstyle31 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
@media only screen and (max-width: 900px)
{
		#menu_15070e93 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_8272807 * span { font-size:12pt;  }
		#button_8272807 { width:270px;  }
		#container_7b56f8c2 * span { font-size:12pt;  }
		#carousel_1fd9dd1a { width:100%;  }
		#container_1da729e9 { width:30%;  }
		#container_1da729e9 * span { font-size:11pt;  }
		#container_3aab6ea4 * span { font-size:12pt;  }
		#container_3aab6ea4 { width:50%;  }
}
@media only screen and (max-width: 600px)
{
		#container_78055da2 { width:100%;  }
		#container_c31bbfd { width:100%;  }
		#container_4aba8bf3 { width:100%;  }
		#container_780a4201 { width:100%;  }
		#container_552b321a { width:100%;  }
		#container_6b4db2e2 { width:100%;  }
		#container_744bd6fd { width:100%;  }
		#container_5640478c { width:100%;  }
		#container_508c6e15 { width:100%;  }
}
